/*

.back-button {
  width: 100%;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px calc(100% - 26px) 0 10px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  z-index: 0;
  color: #888;
  fill: #888;
  cursor: pointer;
}

.back-button:hover {
  background: #ddd;
  color: #666;
  fill: #666;
}

label {
  padding: 0 0.5rem;
}

input[type="password"] {
  flex: 1;
  padding-right: 1rem;
}

container-element, line-element:not([slot="header"]) {
  color: #888;
  fill: #888;
}

container-element:hover, line-element:hover {
  color: #666;
  fill: #666;
}

line-element .auto {
  flex: auto 0;
  padding: 0 5px;
}

line-element .filler {
  flex: 1;
  padding: 0 5px;
}

line-element .icon {
  flex: 16px 0;
}

.reveal {
  visibility: hidden;
}

line-element:hover .reveal {
  visibility: visible;
}
*/
